.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(https://i.gifer.com/1k9v.gif);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}
